@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Consulta</h2>
<ul>
    
    
        <li> Temperatura: @ViewBag.temperatura</li>  
        <li> Humedad: @ViewBag.humedad</li>     
        <li> Riego: @ViewBag.riego</li>   
        <li> Iluminacion: @ViewBag.iluminacion</li>     
    
</ul>