 @{
   Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Consulta";
}

<h2>Consulta</h2>
<ul>


    <li> Temperatura: @ViewBag.temperatura1</li>
    <li> Humedad: @ViewBag.humedad1</li>
    <li> Riego: @ViewBag.riego1</li>
    <li> Iluminacion: @ViewBag.iluminacion1</li>    

</ul>